#form_style{
    height: 400px;
    width: 450px;
 
    margin-left: 30%;
   margin-top: 10%;
  }
  #legend_Style{
    margin-left: 42%;
    
 
 
   }
 
   #legend_Style1{
    
     
     background-color: blue;
  
    }