#form_style{
    height: 400px;
    width: 450px;
 
    margin-left: 30%;
  
  }
  #legend_Style{
    margin-left: 42%;
    
 
 
   }
 
   #legend_Style1{
    
     
     background-color: blue;
  
    }
  body{
      background-color: lightblue;
  }

  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color: brown;
  }