<!DOCTYPE html>
<html>
<head>
	<title>Registration Form Submission</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body id ="bg1">
		<form action="../controller/loginCheck.php" id="form_style"   method="post" enctype="">
			
			<fieldset>                                                                                     
				<legend id="" style="margin-left: 42%; "><strong><span class="text_color">Admin Login</span></strong></legend>
				<table style="margin-left: 32%;">
					<tr>
						<td><strong><span class="text_color">User Id</span></strong></td>
						</tr>
						<tr>
						<td><input type="text" name="id" value=""></td>
					</tr>
					<tr>
						<td><strong><span class="text_color">Password</span></strong></td></tr>
						<tr>
						<td><input type="password" name="password" value=""></td>
					</tr>
					
					
					<tr>
						<tr>
						<br>
						</tr>
						<td>
							<input type="submit" name="" value="Login" style="width: 178px;"><br><br>
							<button style="width: 178px;"><a href="signup.html" style=" text-decoration: none; color: black;"> Register </a></button>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
</body>
</html>