body  
{  
    margin: 0;  
    padding: 0;  
    background-color:lightpink;  
    font-family: 'Arial';  
}  
.home{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: lightcoral;  
        border-radius: 15px ;  
          
}  
h1{  
    text-align: center;  
    color: darkred;  
    padding: 20px;  
}  
h3{  
    text-align: center;  
    color: darkred;  
    padding: 20px;  
}  
