<!DOCTYPE html>
<html>
<head>
	<title>Log in to your Account </title>
	<link rel="stylesheet" type="text/css" href="css/login.css">  
</head>
<body>
		<form action="../controller/loginCheck.php" method="post" enctype="">
			<fieldset>
				<h2> Login</h2><br>
				  <div class="login">
				<table>
					<tr>
						<td>User Id</td>
						</tr>
						<tr>
						<td><input type="text" name="id" value=""></td>
					</tr>
					<tr>
						<td>Password</td></tr>
						<tr>
						<td><input type="password" name="password" value=""></td>
					</tr>
					
					
					<tr>
						<tr>
						<br>
						</tr>
						<td>
							<input type="submit" name="" value="Login">
							<a href="signup.html"> Signup </a>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
		</div>
</body>
</html>